/**
 * @name Profiles Plus
 * @author DTACat
 * @version 0.1.0
 * @description Makes your Discord profile look 100 times better.
 * @source https://github.com/DTACat/Discord-Profiles-Plus
 * @website https://dtacat.github.io/Collectibles/
 * @invite Mcwh7hGcWb
 */

@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/src/main.css');
