[class*="userProfile"]:not([class*="userProfileModal"]) {
	background-image: linear-gradient(to right, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
	background-size: 400%;
	animation: profile-small-popout-animation 1.5s forwards, profile-gradient-animation 10s infinite;
}
@keyframes profile-small-popout-animation {
	0% {width: 10px;}
	100% {width: 340px;}
}

[class*="userProfileModal"] {
	background-image: linear-gradient(to right, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
	background-size: 400%;
	animation: profile-big-popout-animation 1.5s forwards, profile-gradient-animation 7s infinite;
}
@keyframes profile-big-popout-animation {
	0% {width: 10px;}
	100% {width: 100;}
}

@keyframes profile-gradient-animation {
	0% {background-position: right}
	50% {background-position: left}
	100% {background-position: right}
}
