[class*="userProfile"] {
	background-image: linear-gradient(to right, var(--profile-gradient-primary-color), var(--profile-gradient-secondary-color));
	background-size: 400%;
	animation: profile-gradient-animation 10s infinite;
}
@keyframes profile-gradient-animation {
	0% {background-position: right}
	50% {background-position: left}
	100% {background-position: right}
}
