/*Deco*/

/*Saw*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="🪚"], [aria-label=":carpentry_saw:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_9cd7e573f48859a995266a0a8345f336.png?size=240&passthrough=true");
}
[class*="userProfile"]:has([aria-label="🪚"], [aria-label=":carpentry_saw:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_9cd7e573f48859a995266a0a8345f336.png?size=240&passthrough=false");
}
[class*="userProfile"]:has([aria-label="🪚"], [aria-label=":carpentry_saw:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="🪚"], [aria-label=":carpentry_saw:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Saw*/

/*Orb Array*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="🟣"], [aria-label=":purple_circle:"], [aria-label="💜"], [aria-label=":purple_heart:"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/collectible-assets/orb-array-a.png");
}
[class*="userProfile"]:has([aria-label="🟣"], [aria-label=":purple_circle:"], [aria-label="💜"], [aria-label=":purple_heart:"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/collectible-assets/orb-array.png");
}
[class*="userProfile"]:has([aria-label="🟣"], [aria-label=":purple_circle:"], [aria-label="💜"], [aria-label=":purple_heart:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="🟣"], [aria-label=":purple_circle:"], [aria-label="💜"], [aria-label=":purple_heart:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Orb Array*/

/*Gyoiko Sakura*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="🌻"], [aria-label=":sunflower:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_d6760c807d460b45e06427c09ab61390.png?size=240&passthrough=true");
}
[class*="userProfile"]:has([aria-label="🌻"], [aria-label=":sunflower:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_d6760c807d460b45e06427c09ab61390.png?size=240&passthrough=false");
}
[class*="userProfile"]:has([aria-label="🌻"], [aria-label=":sunflower:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="🌻"], [aria-label=":sunflower:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Gyoiko Sakura*/

/*Rainy Mood*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="❌"], [aria-label=":x:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_e8c11f139e55dac538cdaafb3caa2317.png?size=240&passthrough=true");
}
[class*="userProfile"]:has([aria-label="❌"], [aria-label=":x:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_e8c11f139e55dac538cdaafb3caa2317.png?size=240&passthrough=false");
}
[class*="userProfile"]:has([aria-label="❌"], [aria-label=":x:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="❌"], [aria-label=":x:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Rainy Mood*/

/*Reyna’s Leer*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="⭕"], [aria-label=":o:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_a87e3efa4de2956331831681231ce63b.png?size=240&passthrough=true");
}
[class*="userProfile"]:has([aria-label="⭕"], [aria-label=":o:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_a87e3efa4de2956331831681231ce63b.png?size=240&passthrough=false");
}
[class*="userProfile"]:has([aria-label="⭕"], [aria-label=":o:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="⭕"], [aria-label=":o:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Reyna’s Leer*/

/*Balance*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_82e4df4028396ad5ccaaafb397fa6248.png?size=240&passthrough=true");
}
[class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_82e4df4028396ad5ccaaafb397fa6248.png?size=240&passthrough=false");
}
[class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Balance*/

/*Arrows*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/decorations/arrows/loop.png");
}
[class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/decorations/arrows/thumbnail.png");
}
[class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Arrows*/

/*Chaos*/

[class*="app-focused"] [class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/decorations/chaos/loop2.png");
}
[class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/decorations/chaos/thumbnail.png");
}
[class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}

/* ^ Chaos*/

/* ^ Deco*/
