/*Effects*/

/*Lightning Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/lightning/intro.png");
}
[class*="userProfile"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/collectible-assets/lightning-frame.png");
}
[class*="userProfile"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class^="profileEffect"] {
    display: none;
}
[id*="popout"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class^="profileEffect"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class^="profileEffect"] {
    display: none;
}
/* ^ Lightning Effect*/

/*Mastery*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/Mastery-Intro-Loop.png");
}
[class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-13/mastery/reduced-motion.png");
}
[class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Mastery*/

/*Arrow Rain*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/arrow-rain/2/intro.png");
}
[class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/arrow-rain/1/thumbnail.png");
}
[class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Arrow Rain*/

/*Engine Madness*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/engine-madness/3/intro.png");
}
[class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/engine-madness/2/thumbnail.png");
}
[class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Engine Madness*/

/*Discord-Os*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="📛"], [aria-label=":name_badge:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2023-9-25/cereal/intro.png");
}
[class*="userProfile"]:has([aria-label="📛"], [aria-label=":name_badge:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2023-9-25/cereal/reducedMotion.png");
}
[class*="userProfile"]:has([aria-label="📛"], [aria-label=":name_badge:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="📛"], [aria-label=":name_badge:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="📛"], [aria-label=":name_badge:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Discord-Os*/

/*Ocean Flowers*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="💯"], [aria-label=":100:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-07-15/ocean-flowers/intro.png");
}
[class*="userProfile"]:has([aria-label="💯"], [aria-label=":100:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-07-15/ocean-flowers/reduced_motion_80a7ad22.png");
}
[class*="userProfile"]:has([aria-label="💯"], [aria-label=":100:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="💯"], [aria-label=":100:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="💯"], [aria-label=":100:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Ocean Flowers*/

/*Digging*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="♨️"], [aria-label=":hotsprings:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/paper-beach/effects/15.png");
}
[class*="userProfile"]:has([aria-label="♨️"], [aria-label=":hotsprings:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/paper-beach/effects/14.png");
}
[class*="userProfile"]:has([aria-label="♨️"], [aria-label=":hotsprings:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="♨️"], [aria-label=":hotsprings:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="♨️"], [aria-label=":hotsprings:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Digging*/


/*Legacy Smiley Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="💜"], [aria-label=":purple_heart:"]) {
    --fake-profile-effect: url("https://cdn.yapper.shop/custom-collectibles/windowkill/profile-effects/2.gif");
}
[class*="userProfile"]:has([aria-label="💜"], [aria-label=":purple_heart:"]) {
    --fake-profile-effect: url("https://cdn.yapper.shop/custom-collectibles/windowkill/profile-effects/1.png");
}
[class*="userProfile"]:has([aria-label="💜"], [aria-label=":purple_heart:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="💜"], [aria-label=":purple_heart:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="💜"], [aria-label=":purple_heart:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Legacy Smiley Effect*/

/*Smiley Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🙂"], [aria-label=":slight_smile:"]) {
    --fake-profile-effect: url("https://cdn.yapper.shop/custom-collectibles/windowkill/profile-effects/10.png");
}
[class*="userProfile"]:has([aria-label="🙂"], [aria-label=":slight_smile:"]) {
    --fake-profile-effect: url("https://cdn.yapper.shop/custom-collectibles/windowkill/profile-effects/11.png");
}
[class*="userProfile"]:has([aria-label="🙂"], [aria-label=":slight_smile:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🙂"], [aria-label=":slight_smile:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🙂"], [aria-label=":slight_smile:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Smiley Effect*/

/*Orb Array Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🟣"], [aria-label=":purple_circle:"]) {
    --fake-profile-effect: url("https://cdn.yapper.shop/custom-collectibles/windowkill/profile-effects/17.png");
}
[class*="userProfile"]:has([aria-label="🟣"], [aria-label=":purple_circle:"]) {
    --fake-profile-effect: url("https://cdn.yapper.shop/custom-collectibles/windowkill/profile-effects/18.png");
}
[class*="userProfile"]:has([aria-label="🟣"], [aria-label=":purple_circle:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🟣"], [aria-label=":purple_circle:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🟣"], [aria-label=":purple_circle:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Orb Array Effect*/

/*Watercolours Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🔅"], [aria-label=":low_brightness:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-04-04/watercolors/intro.png");
}
[class*="userProfile"]:has([aria-label="🔅"], [aria-label=":low_brightness:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-04-04/watercolors/reduced-motion.png");
}
[class*="userProfile"]:has([aria-label="🔅"], [aria-label=":low_brightness:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🔅"], [aria-label=":low_brightness:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🔅"], [aria-label=":low_brightness:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Watercolours Effect*/


/*None*/
[class*="userProfile"]:has([aria-label="🚫"], [aria-label=":no_entry_sign:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🚫"], [aria-label=":no_entry_sign:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ None*/

/* ^ Effects*/
