/*Effects*/

/*Lightning Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/lightning/intro.png");
}
[class*="userProfile"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/collectible-assets/lightning-frame.png");
}
[class*="userProfile"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class^="profileEffect"] {
    display: none;
}
[id*="popout"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class^="profileEffect"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🌩️"], [aria-label=":cloud_lightning:"], [aria-label="🩵"], [aria-label=":light_blue_heart:"]) [class^="profileEffect"] {
    display: none;
}
/* ^ Lightning Effect*/

/*Smiley Effect*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🙂"], [aria-label=":slight_smile:"], [aria-label="💜"], [aria-label=":purple_heart:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Just-Effects-And-Decorations/main/secrets/ezgif-6-caaa9a147f.gif");
}
[class*="userProfile"]:has([aria-label="🙂"], [aria-label=":slight_smile:"], [aria-label="💜"], [aria-label=":purple_heart:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/collectible-assets/smiley-frame.png");
}
[class*="userProfile"]:has([aria-label="🙂"], [aria-label=":slight_smile:"], [aria-label="💜"], [aria-label=":purple_heart:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🙂"], [aria-label=":slight_smile:"], [aria-label="💜"], [aria-label=":purple_heart:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🙂"], [aria-label=":slight_smile:"], [aria-label="💜"], [aria-label=":purple_heart:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Smiley Effect*/

/*Mastery*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/Mastery-Intro-Loop.png");
}
[class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-13/mastery/reduced-motion.png");
}
[class*="userProfile"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🛑"], [aria-label=":octagonal_sign:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Mastery*/

/*Arrow Rain*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/arrow-rain/2/intro.png");
}
[class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/arrow-rain/1/thumbnail.png");
}
[class*="userProfile"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🏹"], [aria-label=":bow_and_arrow:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Arrow Rain*/

/*Engine Madness*/
[class*="app-focused"] [class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/engine-madness/3/intro.png");
}
[class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/version2/custom-collectibles/bopl-battle/effects/engine-madness/2/thumbnail.png");
}
[class*="userProfile"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class^="profileEffects"] {
    display: none;
}
:not(:has([class*="collectible"])) [class*="root"]:has([aria-label="🚀"], [aria-label=":rocket:"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Engine Madness*/

/* ^ Effects*/
