/*Elements*/

/*Elements Deco*/

/*Fire*/
[class*="userProfile"]:has(img[src*="/assets/b7be1919f2ef485d4a0b.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_a065206df7b011a5510e4e5bca7d49be.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/b7be1919f2ef485d4a0b.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/b7be1919f2ef485d4a0b.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Fire*/

/*Water*/
[class*="userProfile"]:has(img[src*="/assets/b775e78b8abd7c5fbb7f.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_250640ab00a8837a1d56f35879138177.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/b775e78b8abd7c5fbb7f.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/b775e78b8abd7c5fbb7f.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Water*/

/*Air*/
[class*="userProfile"]:has(img[src*="/assets/2ab896d5e858811e5005.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_554b7c34f7b6c709f19535aacb128e7b.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/2ab896d5e858811e5005.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/2ab896d5e858811e5005.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Air*/

/*Earth*/
[class*="userProfile"]:has(img[src*="/assets/e72518f592822205c617.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_fa014594d4b2b4249e1098c0adc85b47.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/e72518f592822205c617.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/e72518f592822205c617.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Earth*/

/*Lightning*/
[class*="userProfile"]:has(img[src*="/assets/55b9edb6a28d54bc2c71.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_365eed4178528fe8293c4212e8e2d5cb.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/55b9edb6a28d54bc2c71.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/55b9edb6a28d54bc2c71.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Lightning*/

/*Balance*/
[class*="userProfile"]:has(img[src*="/assets/9541590314268920da95.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_82e4df4028396ad5ccaaafb397fa6248.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/9541590314268920da95.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/9541590314268920da95.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Balance*/

/* ^ Elements Deco*/


/*Elements Effects*/

/*Rock Slide*/

/*Rock Slide Intro*/
[class*="userProfile"]:has(img[src*="/assets/473c34bb502697ff2519.svg"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/Rock-Slide-Intro-Loop.png");
}
[class*="userProfile"]:has(img[src*="/assets/473c34bb502697ff2519.svg"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="/assets/473c34bb502697ff2519.svg"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="/assets/473c34bb502697ff2519.svg"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Rock Slide Intro*/

/*Rock Slide Idle*/
[class*="userProfile"]:has(img[src*="/assets/880bad1574244b265afc.svg"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-13/rock-slide/idle.png");
}
[class*="userProfile"]:has(img[src*="/assets/880bad1574244b265afc.svg"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="/assets/880bad1574244b265afc.svg"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="/assets/880bad1574244b265afc.svg"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Rock Slide Idle*/

/* ^ Rock Slide*/

/*Vortex*/

/*Vortex Intro*/
[class*="userProfile"]:has(img[src*="/assets/8ad8ebbbdc61992ca2c2.svg"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/Vortex-Intro-Loop.png");
}
[class*="userProfile"]:has(img[src*="/assets/8ad8ebbbdc61992ca2c2.svg"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="/assets/8ad8ebbbdc61992ca2c2.svg"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="/assets/8ad8ebbbdc61992ca2c2.svg"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Vortex Intro*/

/*Vortex Loop*/
[class*="userProfile"]:has(img[src*="/assets/49abbebaede211aa4382.svg"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-13/vortex/idle.png");
}
[class*="userProfile"]:has(img[src*="/assets/49abbebaede211aa4382.svg"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="/assets/49abbebaede211aa4382.svg"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="/assets/49abbebaede211aa4382.svg"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Vortex Loop*/

/* ^ Vortex*/

/*Mastery*/

/*Mastery Intro*/
[class*="userProfile"]:has(img[src*="/assets/0121dbb69baac933f0b6.svg"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/Mastery-Intro-Loop.png");
}
[class*="userProfile"]:has(img[src*="/assets/0121dbb69baac933f0b6.svg"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="/assets/0121dbb69baac933f0b6.svg"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="/assets/0121dbb69baac933f0b6.svg"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Mastery Intro*/

/*Mastery Loop*/
[class*="userProfile"]:has(img[src*="/assets/cc3d8cee7b37f4ad9937.svg"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-02-13/mastery/idle.png");
}
[class*="userProfile"]:has(img[src*="/assets/cc3d8cee7b37f4ad9937.svg"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="/assets/cc3d8cee7b37f4ad9937.svg"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="/assets/cc3d8cee7b37f4ad9937.svg"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Mastery Loop*/

/* ^ Mastery*/

/* ^ Elements Effects*/

/* ^ Elements*/
