/*Lunar New Year*/

/*Lunar New Year Deco*/

/*Fan Flourish*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_9d2ff9685be0c668ef6990b0035fac17.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224489490484170833.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
    
	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Fan Flourish*/

/*Lunar Lanterns*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_63b29ec5b1ea6bb01c2251049838d822.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224915454330404914.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
    
	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Lunar Lanterns*/

/*Firecrackers*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_0f4f1b40921ce680b60007e94427d1f2.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224917269021200405.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
    
	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Firecrackers*/

/*Dragon Smile*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_445566ed965b2c1632a5b45c92f32d11.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224993483333304410.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
    
	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Dragon Smile*/

/*Lucky Envelope*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_1b1df0ae8c2d34afd85da5c22a0d761a.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1224995652581326868.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
    
	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Lucky Envelope*/

/*Koi Pond*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_50b440810b1bbd89f6284f36d40ad0af.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1225194542454804573.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
    
	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Koi Pond*/

/* ^ Lunar New Year Deco*/

/* ^ Lunar New Year*/
