@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/src/animev2.css');
@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/src/elements.css');
@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/src/lofi.css');
@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/src/lunar.css');
@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/src/secrets.css');
@import url('https://raw.githubusercontent.com/DTACat/Discord-Profiles-Plus/main/src/shy.css');

[class^="profileEffectShopPreview"] [class^="profileEffects"] {
	display: revert;
}

[class*="userProfileInner"]::after {
	content: "";
	background: var(--fake-profile-effect);
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% auto;
	background-repeat: no-repeat;
	pointer-events:none;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.6s ease-in-out;
}
[class*="userProfileInner"]:hover::after {
	opacity: 0.20;
}
[class*="userProfileModalInner"]::after, [class*="userPopoutInner"]::after {
	margin: -4px;
}

[class*="userProfile"] [class*="OverlayBackground"]::after {
	content: "";
	background: var(--fake-aboutme-style);
	width: 100%;
	height: 100%;
	position: absolute;
	background-size: 100% auto;
	background-repeat: no-repeat;
	pointer-events:none;
	z-index: 1;
	opacity: 1;
	transition: opacity 0.6s ease-in-out;
}
[class*="userProfile"] [class*="OverlayBackground"]:hover::after {
	opacity: 0.20;
}
[class*="customizationSection"] [class*="OverlayBackground"]::after {
	margin-left: -12px;
}
[class*="profilePanel_"] [class*="OverlayBackground"]::after {
	margin-left: -12px;
}
[class*="profilePanel_"] [class*="profilePanelConnections_"]::after {
	margin-left: -9999px;
}

img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
