/*Clown*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]) {

	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png?size=240&passthrough=true");
}

.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Clown*/
/*Zyrenth*/
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]),
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]),
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]),
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]),
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]),
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) {
    
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Wouldnt...Right/main/Assets/frame_apngframe12.png");
}
.animatorLeft_f985f4:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
.animatorRight_b16ad3:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
.root_ba16f0:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
.profilePanel_e2cafe:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
.accountProfilePopoutWrapper_d4887f:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
.customizationSection__0f57e:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Zyrenth*/
