/*Secrets*/

/*Tallu*/
[aria-label*="Tallu"] {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/b17d139f2e9/splash/loop.png");
}
[aria-label*="Tallu"] [class*="userProfileInner"] {
	background: url(https://raw.githubusercontent.com/TrellTrell/Tallu/main/TalluBackround4.png);
	background-size: 100%;
}
[aria-label*="Tallu"] [class*="userPopoutOverlayBackground"] {
	opacity: 80%;
}
/* ^ Tallu*/

/*Clown*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223864263156961320.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Clown*/

/*Smiley Effect*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1228139636149321778.webp"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Just-Effects-And-Decorations/main/secrets/ezgif-6-caaa9a147f.gif");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1228139636149321778.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1228139636149321778.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Smiley Effect*/

/*Zyrenth*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Wouldnt...Right/main/Assets/frame_apngframe12.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Zyrenth*/

/*Kane*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) {
    
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Wouldnt...Right/main/Assets/frame_apngframe12.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Kane*/
/*Green Glitch*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224878946651471912.webp"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Just-Effects-And-Decorations/main/secrets/ezgif-5-7575667b07.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224878946651471912.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1224878946651471912.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Green Glitch*/

/* ^ Secrets*/
