/*Secrets*/

/*Tallu*/
[aria-label*="Tallu"] {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/b17d139f2e9/splash/loop.png");
}
[aria-label*="Tallu"] [class*="userProfileInner"] {
	background: url(https://raw.githubusercontent.com/TrellTrell/Tallu/main/TalluBackround4.png);
	background-size: 100%;
}
[aria-label*="Tallu"] [class*="userPopoutOverlayBackground"] {
	opacity: 80%;
}
/* ^ Tallu*/

/*Clade*/
[aria-label="clyde"] {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Just-Effects-And-Decorations/main/secrets/ezgif-6-caaa9a147f.gif");
}
[aria-label="clyde"] [class*="userProfileInner"] {
	background: url(https://raw.githubusercontent.com/TrellTrell/Tallu/main/TalluBackround4.png);
	background-size: 100%;
}
[aria-label="clyde"] [class*="userPopoutOverlayBackground"] {
	opacity: 80%;
}
/* ^ Clade*/

/*DTACat Deco*/
[data-author-id="1169899815983915121"] [src*="passthrough="] {
	background-image: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/403deco.png");
	background-size: 100%;
	object-position: 9999px;
}
/* ^ DTACat Deco*/

/*trookox_*/
[aria-label="traox_"] [class*="userProfile"] {
	width: 1000px;
}
/* ^ trookox_*/
/*tolgchu*/
[aria-label="tolgchu"] [class*="userProfile"] {
	width: 1000px;
}
/* ^ tolgchu*/
/*what tolgchu wanted*/
[aria-label="Experiment Hub"] [class*="userProfile"] {
	width: 1000px;
}
[aria-label="DEH Assistant"] [class*="userProfile"] {
	width: 1000px;
}
/* ^ what tolgchu wanted*/

/*404*/
[class*="userProfile"]:has(img[src*="/assets/11409ce1bdedd524d9a0.svg"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/404notfounddeco.png");
}
[class*="userProfile"]:has(img[src*="/assets/11409ce1bdedd524d9a0.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/11409ce1bdedd524d9a0.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ 404*/

/*403*/
[class*="userProfile"]:has(img[src*="/assets/eb95b4780a6208713410.svg"]) {
	--fake-avatar-decoration: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Images/403deco.png");
}
[class*="userProfile"]:has(img[src*="/assets/eb95b4780a6208713410.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/eb95b4780a6208713410.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ 403*/

/*Clown*/
[class*="userProfile"]:has(img[src*="/assets/a6038c6a7800bb77aff7.svg"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_5e1210779d99ece1c0b4f438a5bc6e72.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="/assets/a6038c6a7800bb77aff7.svg"]) [class*="avatarDecoration"] [class*="avatar"]{
	object-position: 9999px;
}
[class*="userPopout"]:has(img[src*="/assets/a6038c6a7800bb77aff7.svg"]) [class*="avatarDecoration"]{
	object-position: 9999px;
}
/* ^ Clown*/

/*Smiley Effect*/
[class*="userProfile"]:has(img[src*="/assets/692c34d74838a4947011.svg"]):not([class*="vc"]) {
    --fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Just-Effects-And-Decorations/main/secrets/ezgif-6-caaa9a147f.gif");
}
[class*="userProfile"]:has(img[src*="/assets/692c34d74838a4947011.svg"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has(img[src*="/assets/692c34d74838a4947011.svg"]) [class^="profileEffects"] {
    display: none;
}
[class*="root"]:has(img[src*="/assets/692c34d74838a4947011.svg"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Smiley Effect*/

/*Lightning Effect*/
[class*="userProfile"]:has(img[src*="/assets/a3dc6be8139e46c15a86.svg"]):not([class*="vc"]) {
    --fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/lightning/intro.png");
}
[class*="userProfile"]:has(img[src*="/assets/a3dc6be8139e46c15a86.svg"]) [class^="profileEffects"] {
    display: none;
}
[id*="popout"]:has(img[src*="/assets/a3dc6be8139e46c15a86.svg"]) [class^="profileEffects"] {
    display: none;
}
[class*="root"]:has(img[src*="/assets/a3dc6be8139e46c15a86.svg"]) [class^="profileEffects"] {
    display: none;
}
/* ^ Lightning Effect*/

/*Zyrenth*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Wouldnt...Right/main/Assets/frame_apngframe12.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1221070066691346532.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Zyrenth*/

/*Kane*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Discord-Wouldnt...Right/main/Assets/frame_apngframe12.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) [class^="profileEffects"] {
	display: none;
}
[id*="popout"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/981711363346952222.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Kane*/

/* ^ Secrets*/
