/*Shy*/

/*Shy Deco*/

/*A Hint of Clove*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223484006067077273.webp"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_98555e40cc6802bd3a4fed906af1d992.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223484006067077273.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ A Hint of Clove*/

/*Omens Cowl*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223485047315890226.webp"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_c45abe8c7585fdb41b8d8d4d666f1588.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223485047315890226.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Omens Cowl*/

/*Reynas Leer*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223485314824409168.webp"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_a87e3efa4de2956331831681231ce63b.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223485314824409168.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Reynas Leer*/

/*FRAG OUT*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223479232202543114.webp"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_09de63526a45be1ddac70e84718ee04a.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223479232202543114.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ FRAG OUT*/

/*Blade Storm*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223487019825762394.webp"]) {
	--fake-avatar-decoration: url("https://cdn.discordapp.com/avatar-decoration-presets/a_904b1989077c91fca1168d39bfcaa0a4.png?size=240&passthrough=true");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1223487019825762394.webp"]) img[class^="avatarDecoration"],
:not([class*="shopCard"],[class*="avatarContainer"],[class*="avatarPreviewContainer"]) > * > *[class^="avatarDecoration"] img {

	object-position: 9999px;
	background-image: var(--fake-avatar-decoration);
	background-size: cover;
}
/* ^ Blade Storm*/

/* ^ Shy Deco*/


/*Shy Effects*/

/*Cloves Ruse*/

/*Cloves Ruse Intro*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224921740614959134.webp"]) {
	--fake-profile-effect: url("https://raw.githubusercontent.com/DTACat/Collectibles/main/Archive/ezgif-7-2df87a0dec.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224921740614959134.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1224921740614959134.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Cloves Ruse Intro*/

/*Cloves Ruse Loop*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224921930377990174.webp"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-03-21/cloves-ruse/idle_050419ac.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224921930377990174.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1224921930377990174.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ Cloves Ruse Loop*/

/* ^ Cloves Ruse*/

/*ACE*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224922483849957487.webp"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-03-21/ace/intro_fa545ec0.png"),
    url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-03-21/ace/idle_a4ea3c0d.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224922483849957487.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1224922483849957487.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ ACE*/

/*The Immortal Clove*/

/*The Immortal Clove Intro*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224923171610951691.webp"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-03-21/the-immortal-clove/intro_310a69a3.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224923171610951691.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1224923171610951691.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ The Immortal Clove Intro*/

/*The Immortal Clove Loop*/
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224923309037064272.webp"]) {
	--fake-profile-effect: url("https://cdn.discordapp.com/assets/profile_effects/effects/2024-03-21/the-immortal-clove/idle_8739289c.png");
}
[class*="userProfile"]:has(img[src*="https://cdn.discordapp.com/emojis/1224923309037064272.webp"]) [class^="profileEffects"] {
	display: none;
}
[class*="root"]:has(img[src*="https://cdn.discordapp.com/emojis/1224923309037064272.webp"]) [class^="profileEffects"] {
	display: none;
}
/* ^ The Immortal Clove Loop*/

/* ^ The Immortal Clove*/

/* ^ Shy Effects*/

/* ^ Shy*/
